@font-face {
    font-family: 'MinecraftFont';
    src: url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, input, select, option, button {
    font-family: 'MinecraftFont', sans-serif;
}

body {
    background-color: #0E0E0E;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background-image: url('skinmaker-text.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 130px;
    opacity: 1;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-100%);
    z-index: -2;
    background-image: url('header.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 89px;
    opacity: 1;
}

.container {
    background-color: #1A1A1A;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    width: 80%;
    max-width: 600px;
    animation: slideUp 0.5s ease;
    position: relative;
}

#formSection, #uploadSection, #previewSection, #downloadSection, #skinList {
    margin-top: 40px;
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dark {
    background-color: #212121;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.yellow {
    background-color: #F4CE14;
    color: #0C0C0C;  
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.yellow:hover {
    background-color: #DAA520;
}

h2 {
    border-bottom: 2px solid #FFD700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

img {
    max-width: 250px;
    margin-top: 10px;
    display: block;
}

.skin-item {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.skin-item img {
    max-width: 70px;
    margin-right: 10px;
}

.skin-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.skin-name {
    font-size: 17px;
    margin-bottom: 5px;
}

.skin-type {
    font-size: 13px;
    font-style: italic;
}

.delete-icon {
    cursor: pointer;
    background-image: url('icon_trash.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: auto;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        width: 95%;
        padding: 20px;
    }

    .upload-button {
        width: 80px;
        height: 80px;
    }

    .skin-item img {
        max-width: 40px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .upload-button {
        width: 70px;
        height: 70px;
    }

    .skin-item img {
        max-width: 30px;
    }
}
